/* Apply styles to the section */
/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #a4bdb7; */


/* Apply styles to the container */
/* section > div {
    width: 350px;
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
} */

/* Apply styles to the image */
section img {
    height: auto;
    width: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 5px;
}

/* Apply styles to the levels and text */
section .levels p,
section .text p {
    font-size: 0.8em;
    color: #333;
    margin: 5px 0;
}

/* Apply styles to name and job title */
section .text > p:nth-child(3) {
    font-weight: bold;
    margin-bottom: 3px;
}

section .text > p:nth-child(4) {
    font-size: 0.7em;
    color: gray;
    margin-top: -3px;
}

/* Apply styles to the job descriptions */
section .text > div > div > p {
    font-size: 0.9em;
    color: gray;
    margin: 8px 0;
}

/* Apply styles to the buttons */
section .button-popup {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

section .button-popup > div > button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

section .button-popup > div > button:nth-child(1) {
    background: #ededed;
    border: 2px solid #000;
}

/* section .button-popup > div > button:nth-child(2) {
    background-color: green;
    color: #ededed;
    border: none;
} */

/* section .button-popup > div > button:hover {
    letter-spacing: 1px;
    transition: 0.5s;
} */

.css-ypiqx9-MuiDialogContent-root{
    padding: 0% ;
}

.level {
    font-size: 0.8em;
    background-color: rgb(164, 189, 183, 0.5);
    width: 70px;
    padding: 0px;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 1px;
    
   
    display: block;
    margin: 0px auto 10px;
  }

  .name {
    font-size: 1.30em;
    font-weight: bolder;
    letter-spacing: 0px;
  }
  .job_title {
    font-size: 0.90em;
    font-weight: bolder;
    color: gray;
    margin-top: -21px;
  }

  .details-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.left-details,
.right-details {
   letter-spacing: 0px;
}


.tooltip-container {
    position: relative;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: auto;
    min-width: 60px; /* Adjust as needed */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
   
    z-index: 1;
    /* Distance between tooltip and icon */
    left: 50%;
    transform: translateX(-90%);
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
  }
  
  .tooltip-text::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    transform: translateX(-60%);
  }
  .image-container
  {
    display: flex;
    justify-content: center;
  }
  .image-container div
  {
    border: 2px solid #1e8eea;
  }
  .icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  


/* 
  Attendance */

  .Attendh5{
    margin-left: 20px;
  }

  .card-styleatt {
    width: 240px;
    height: 100px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
   
  }
  .avatarimage{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 35px;
  }
  h6{
    font-size: 13px;
  }


  