

  .profile-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 35px;
  }
  
  .avatar {
    margin-right: 10px; 
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .text-container h5,
  .text-container span {
    margin: 0;
  }

  .card-style{
    width: 457px;
  }
  .align-items-center{
    margin-block-end: 22px;
  }
  
  .p-2{
    padding: 1rem;
  }

 

.contact-section:hover {
    background-color: #e2f1fc;
    cursor: pointer;
    
  }

  .contact-section:hover svg {
    fill: #3f51b5; 
  }  
  
  .rs-divider-horizontal{
    margin: 0;
  }
  
 .mar-top{
    margin-left: 71px;
 }

 
.centered {
    text-align: center;
  }
  