.MuiDrawer-paper {
  color: #fff !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;
  background-position: center !important;
  background-size: cover !important;
  color: #ffffff !important;
}

.MuiListItemButton-gutters,
.css-1ips9rb-MuiListItemIcon-root {
  color: #fff !important;
}

.Mui-selected,
.Mui-selected > .MuiListItemIcon-root,
.MuiListItemButton-root:hover {
  color: #5e35b1 !important;
  background-color: #fff !important;
  font-weight: bold !important;
}

.MuiListItemButton-gutters:hover .MuiListItemIcon-root {
  color: #5e35b1 !important;
}

.scrollbar-container {
  margin-top: 3rem !important;
}

/* .login-section {
  background: url(/src/assets/images/clips/clip1.mp4);
} */
video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.css-h4y409-MuiList-root {
  padding-bottom: 0 !important;
}

.css-9d4wr9 {
  border-top-left-radius: 0 !important;
}

.css-1vkmmdj-MuiPaper-root-MuiCard-root {
  border-color: transparent !important;
}
.border-top {
  border-top: 1px solid gray;
}
.css-d0lab9-MuiPaper-root,
.css-1kcnu38-MuiTableRow-root {
  box-shadow: none !important;
}

.css-17pmaar-MuiCardContent-root {
  padding: 10px 0 !important;
}

.MuiPaper-elevation2 {
  z-index: 1222 !important;
  /* padding-top: 2rem !important; */
}

/* main{
  background-image: url(/src/assets/images/bg.png) !important;
  background-position: center !important;
  background-size: cover !important;
  background-blend-mode:color-burn;
  box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);} */

.edit-table-container .css-wsew38 {
  justify-content: end !important;
}

.p-0 {
  padding: 0 !important;
}

.max {
  max-height: 86vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 249, 249);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.rounded {
  background-color: #ff000057;
  border-radius: 50%;
  height: 4rem;
  color: #332121;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.text-muted {
  font-weight: bold;
  color: #a3a3a3;
}

main {
  background-color: #e3f2fd !important;
}

.MuiPaper-elevation0 {
  border: 1px solid #00d2fd2e;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.history-container .MuiCardHeader-root {
  background-color: #e3f2fd !important;
}

.title-bar,
.custum-header {
  background-color: #e3f2fd !important;
  padding: 0.2rem 1rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100% !important;
}

.custum-header .MuiAvatar-colorDefault {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custum-header {
  display: flex;
  justify-content: space-between;
}

.card-hover:hover {
  border: 1px solid #5e35b18e !important;
  background-color: #fff !important;
}

.card-hovered {
  border: 1px solid #5e35b18e !important;
  background-color: #fff !important;
}
.border-left {
  border-right: 1px solid #e3e8ef;
}
.text-muted-light {
  color: #a3a3a3;
  margin: 0 !important;
  margin-top: 0.2rem !important;
}
.custom-red {
  padding: 13px;
  background-color: #ef9a9a !important;
  color: #c62828;
  font-weight: bold;
  border: none !important;
}
.custom-green {
  padding: 13px;
  background-color: #b9f6ca !important;
  color: #00cfa7;
  font-weight: bold;
  border: none !important;
}
.m-1 {
  margin: 1rem;
}
.me-1 {
  margin-right: 1rem !important;
}

.ms-1 {
  margin-left: 1rem;
}

.ms-01 {
  margin-left: 0.4rem;
}

.m-0 {
  margin: 0 !important;
}

.avatar-name {
  margin: 0 !important;
  font-size: 15px;
}

.badge-success {
  background-color: #b9f6ca;
  color: #3bc885;
  padding: 2px 5px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 5px !important;
  border-radius: 20px;
}

.badge-warning {
  background-color: #ffe1ba;
  color: #c0710e;
  border-radius: 20px;
  text-align: center;
}

.max-width {
  max-width: fit-content !important;
  padding: 10px 22px;
}

.text-end {
  text-align: end;
}

.justify-content-end {
  justify-content: end !important;
}

.float-end {
  float: inline-end !important;
}

.badge-danger {
  background-color: #ffbaba;
  color: #e30000;
  border-radius: 20px;
  text-align: center;
}
.w-100 {
  width: 100%;
}
.w-25 {
  max-width: 25%;
  width: 100%;
}
.w-40 {
  max-width: 40%;
  width: 100%;
}
.w-60 {
  max-width: 60%;
  width: 100%;
}
.w-50 {
  max-width: 50%;
  width: 100%;
}
.w-75 {
  max-width: 75%;
  width: 100%;
}
.mt-1 {
  margin-top: 1rem !important;
}
.text-center {
  text-align: center;
}
.mt-2 {
  margin-top: 1.7rem;
}

.rs-picker-toggle-wrapper {
  width: 100% !important;
}

.rs-picker-default .rs-picker-toggle.rs-btn {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.css-zow5z4-MuiGrid-root {
  padding: 10px;
}

.css-17pmaar-MuiCardContent-root:last-child {
  /* margin-left: 13px; */
}
.css-1jypy1b-MuiTableRow-root td {
  /* display: block; */
  max-width: 200px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  padding: 10px;
}
.p-1 {
  padding: 1rem;
}
.p-3 {
  padding: 0px 10px;
}
.ps-1 {
  padding-left: 10px;
}
.p-0 {
  padding: 0px;
}
.pe-1 {
  padding-right: 1rem;
}
.small {
  font-size: smaller !important;
}
.ellipse-co {
  display: -webkit-box;
  max-width: 284px;
  -webkit-line-clamp: 2;
  text-align: justify;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #416183;
}
.text-danger {
  color: red;
}

.justify-content-between {
  margin-right: 39px;
}
header,
.css-1rcxgiw-MuiPaper-root-MuiDrawer-paper {
  z-index: 1049 !important;
}
.css-sut2xh-MuiTableCell-root, .css-1k2nulk-MuiTableCell-root
{
  box-shadow: none !important;
}
.rs-modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rs-picker-date-menu
{
  z-index: 1300;
}
/* hr {
  padding-left: 36rem;
} */
.fs-1
{
  font-size: 14px !important;
}
.css-1w9i8cz-MuiTypography-root {
  padding-top: 12px;
}
.select-dropdown {
  position: relative;
  background-color: #ede7f6;
  border-radius: 8px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.css-14c97s3-MuiPaper-root-MuiCard-root {
  height: 35rem;
}

.css-f1yple-MuiCardHeader-root {
  margin-bottom: 456px;
}

.css-14c97s3-MuiPaper-root-MuiCard-root {
  background-color: #e2f1fc;
}

.css-1w9i8cz-MuiTypography-root {
  margin-left: 26px;
  margin-top: -35px;
}

.css-f1yple-MuiCardHeader-root .MuiCardHeader-title {
  margin-left: -15px;
}

.css-w75fiz-MuiInputBase-root-MuiOutlinedInput-root {
  margin-bottom: 11px;
  margin-left: 28px;
}

.css-1vz8i7x-MuiTypography-root {
  padding-top: 10px;
}

.css-9lyone-MuiInputBase-input-MuiOutlinedInput-input {
  /* color: transparent !important; */
}

.align-items-center {
  align-items: center !important;
}

.strong {
  font-weight: bold;
}

/* :root {
  --primary-color: rgb(62, 100, 255);
  --complete-color: #27aa80;
  --text-color: #172b4d;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}

html {
  background: rgb(0,73,191);
  background: linear-gradient(90deg, rgba(0,73,191,1) 0%, rgba(190,190,255,1) 46%, rgba(0,212,255,1) 100%);
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button, input {
  padding: 4px;
  border: 1px solid var(--disabled-color);
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.8s;
  cursor: pointer;
}

button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

.item:hover {
  cursor: pointer;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
}

.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: yellow;
}

.page-header {
  background-color: #054F7C;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal {
  background-color: #F4F5F7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);;
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031D2C;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #DCDCDC;
} */
